<!doctype html>
{% load static %}
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/header.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">


  <title>Московский политехнический университет</title>
</head>

<body>

  <header>
    {% include "includes/header.html" %}


    <section class="hero">

      <div class="hero__inner">
        <h1 class="hero__title">Московский политехнический университет — многопрофильное высшее учебное заведение.</h1>
        <p class="hero__subtitle">Участник программы «Приоритет 2030».
          Учредителем университета является Министерство науки и высшего образования Российской Федерации</p>
      </div>

    </section>

  </header>


  <main>

    <div class="container">

      <div class="about">
        <div class="about__image-container mb-2">
          <img class="about__image image" src="{% static 'image/about1.jpg' %}" alt="">
        </div>
        <div class="about__info-container">
          <h2 class="title">Интерактивный музей</h2>
          <div class="about__text mb-2">
            <p>– это уникальное пространство, которое объединяет науку, искусство и технологии. Здесь каждый посетитель
              имеет возможность окунуться в захватывающий мир современных технических достижений и открытий.Входя в
              интерактивный музей, посетители попадают в мир удивительных экспонатов и мультимедийных инсталляций,
              которые
              позволяют им взглянуть на науку с новой, неожиданной стороны. Разнообразные экспонаты, презентации и
              интерактивные стенды рассказывают о передовых разработках, проведенных исследованиях и технологических
              процессах, применяемых в Московском политехе.</p>
            <p>Одним из самых популярных объектов экспозиции является интерактивная "Научная лаборатория", где
              посетители
              могут самостоятельно проводить опыты и эксперименты, развивая свои научные навыки и способности. Здесь
              маленькие и большие посетители могут не только наблюдать, но и принимать активное участие в создании
              научных
              открытий.</p>
          </div>
          <div class="about__footer">
            <a class="about__link" href="#">Узнать подробнее</a>
          </div>
        </div>
      </div>

      <div class="detail">
        <div class="detail__col1">
          <div class="content">
            <p class="content__title">Интересный факт</p>
            <div class="content__text text">
              <p>Русский поэт, драматург и прозаик, заложивший основы русского реалистического направления, литературный
                критик и теоретик литературы</p>
            </div>
          </div>
        </div>

        <div class="detail__col2">
          <div class="content">
            <p class="content__title">А вы знали что?</p>
            <div class="content__text text">
              <p>Русский поэт, драматург и прозаик, заложивший основы русского реалистического направления, литературный
                критик и теоретик литературы. Один из самых авторитетных литературных деятелей первой трети XIX века.
              </p>
            </div>
          </div>
        </div>

        <div class="detail__col3">
          <div class="content">
            <p class="content__title">История</p>
            <div class="content__text text">
              <p>Русский поэт, драматург и прозаик, заложивший основы русского реалистического направления, литературный
                критик и теоретик литературы. Один из самых авторитетных литературных деятелей первой трети XIX века.
              </p>
            </div>
          </div>
        </div>


      </div>

      <div class="info">
        <div class="info__text-container">
          <p class="info__title">Погрузись в историю</p>
          <div class="info__text text">
            <p>
              Увлекательные экскурсии по музею проводят высококвалифицированные специалисты, которые с радостью делятся
              своими знаниями и опытом с гостями. Каждая экскурсия рассказывает зрителям о конкретной теме – от
              энергетики и механики до информационных технологий и робототехники.Важной особенностью интерактивного
              музея Московского политеха является его открытость и доступность. Все экспозиции созданы таким образом,
              чтобы посетителям было легко понять их содержание и принять участие во всех представленных интерактивных
              событиях.
            </p>
          </div>
        </div>

        <div class="info__image-container">
          <img class="image" src="{% static 'image/photo3.jpg' %}" alt="">
        </div>
      </div>



    </div>

  </main>
{% include "includes/footer.html" %}



</body>

</html>
