{% load static %}
<footer>
  <div class="left-side">
    <div class="contact-info">
      <img src="phone-icon.png" alt="Phone Icon">
      <p>+7 (123) 456-7890</p>
    </div>
    <a href="https://www.mospolytech.com">www.mospolytech.com</a>
    <img src="logo.png" alt="Website Logo">
    <p>© 2023 федеральное государственное автономное образовательное учреждениевысшего образования «Московский политехнический университет»,Московский Политех</p>
  </div>
  <div class="right-side">
    <a href="#"><img src="ok-icon.png" alt="Одноклассники"></a>
    <a href="#"><img src="vk-icon.png" alt="ВКонтакте"></a>
    <a href="#"><img src="telegram-icon.png" alt="Telegram"></a>
    <a href="#"><img src="youtube-icon.png" alt="YouTube"></a>
    <a href="mailto:назвпочты@почта.com"><img src="mail-icon.png" alt="Email"></a>
  </div>
</footer>
