{% load static %}
<header>
  <div class="logo">
    <img src="{% static 'image/logo.png'%}" alt="Website Logo">
  </div>
  <div class="headerName"> Музей Московского Политеха</div>
  <nav>
    <ul>
      <li class="dropdown">
        <a href="ссылка на страницу">Пункт</a>
        <div class="dropdown-content">
          <a href="#">Подпункт 1</a>
          <a href="#">Подпункт 2</a>
          <a href="#">Подпункт 3</a>
          <a href="#">Подпункт 4</a>
          <a href="#">Подпункт 5</a>
        </div>
      </li>
      <li><a href="ссылка на страницу">Пункт</a></li>
      <li><a href="ссылка на страницу">Пункт</a></li>
      <li><a href="ссылка на страницу">Пункт</a></li>
    </ul>
  </nav>
</header>
