{% load static %}
<div class="header">
<div class="logo">
  <img src="{% static 'image/logo.png'%}" alt="Website Logo">
</div>
<div class="headerName"> Музей Московского Политеха</div>
<nav>
  <ul>
    <li><a href="ссылка на страницу">Главная</a></li>
    <li class="dropdown">
      <a href="ссылка на страницу">Вуз</a>
      <div class="dropdown-content">
        <a href="#">История возникновения</a>
        <a href="#">Известные люди</a>
        <a href="#">Внеучебные организации</a>
        <a href="#">Достижения и успехи</a>
      </div>
    </li>
    <li><a href="ссылка на страницу">О нас</a></li>
  </ul>
</nav>
</div>
