/* header  */

@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #959CE91F;
    color: #483B78;
    width: 100vw;
    height: 88px;

    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.headerName {
    font-size: 26px;
    font-weight: 900;
    line-height: 31px;
    letter-spacing: -0.015em;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.logo img {
    width: 70px;
    height: 70px;
    margin-top: 3px;
    margin-left: 20px;

}

nav {
    margin-left: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: -20px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000B2;
    font-weight: bold;
}

nav ul li a:hover {
    color: #959CE9;
}


nav ul li a:hover {
    color: #959CE9;
}

/* выпадающее меню */


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 8px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* .dropdown-content a:hover {
    background-color: #f1f1f1;
} */

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
  background-color: #292B44;
  color: #EDEDED;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-side img, .right-side img {
  height: 20px;
  width: 20px;
}

.left-side p, a {
  margin: 0;
  color: #AFAFAF;
}

.right-side a {
  margin-left: 10px;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
}
header { /* by A.G. */
  background-color: #959CE91F;
  color: #483B78;
  width: 100vw;
  height: 88px;
  display: flex;
  align-items: center;
}
body {
  background-color: #959CE91F;
}
.img1 {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.img2 {
  position:absolute;
  margin: 4%;
  left: 5%;
  width: 509px;
  height: 764px;
  background-size:contain;
}
.img3 {
  position: relative;
  margin: 10%;
  left: 5%;
  width: 216px;
  height: auto;
  background-size:contain;
  float: right;
  top: 480px;
}
.main-text {
  color: #FFFFFF;
  width: 100%;
  height: 1239px;
  position: absolute;
  text-align: center;
  font-size: 26px;
  top: 80%;
  font-family:'Space Grotesk', sans-serif;
  font-weight: bolder;
}
.text-color{
  color: #959CE9;
  font-weight: 900;
}
.text-1{
  /* background-color: #483B78; */
  margin: 5%;
  float: right;
  overflow: hidden;
  position: relative;
  left: 530px;

  height: 560px;
  width: 923px;

  max-width: 1005px;
  max-height: 610px;

  min-width: 835px;
  min-height: 500px;
}
.text-1 p {
  /* background-color: #959CE91F; */
  color:black;
  /* height: 523px; */
  /* width: 899px; */
  font-size: 23px;
  /* position: absolute; */
  /* left: 45%; */
  font-family: 'Raleway', sans-serif;
  line-height: 140%;
}
.title{
  color: #6251A2;
  font-size: 54px;
  font-weight: 700;
  font-family: 'Space Grotesk', sans-serif;
}
.text-arrow{
  color: #6251A2;
  font-size: 39px;
  float: right;
  position: relative;
  right: 22%;
  font-weight: 600;
  font-family: 'Space Grotesk', sans-serif;
}
/* .block2 h3{ Почему слово Поиск не поднимается вверх?
  top: 100px;
} */
.block1 {
  width: 637px;
  height: 348px;
  /* margin-left: 10%; */
  background-color: rgb(255, 255, 255);
  border: 1px solid #483B78 ;
  border-radius: 66px;
  float: left;
  position: relative;
  left: 44px;
  top: 274px;
}
.block1 h3{
  color: #BDAEF4;
  font-size: 45px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  text-shadow: -2px 2px 3px #483B78;
  padding: 10% 7% 1% 7%
}
.block1 p {
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 27px;
  color: black;
  opacity: 0.75;
  padding: 5% 7% 15% 7%;
}
.block2 {
  width: 839px;
  height: 348px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #483B78 ;
  border-radius: 66px;
  float: left;
  position: relative;
  left: 90px;
  top: 220px;
}
.block2 h3{
  color: #BDAEF4;
  font-size: 45px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  text-shadow: -2px 2px 3px #483B78;
  padding: 8% 7% 1% 7%
}
.block2 p {
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 27px;
  color: black;
  opacity: 0.75;
  padding: 3% 7% 15% 7%;
}
.block3 {
  width: 1521px;
  height: 303px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #483B78 ;
  border-radius: 66px;
  float: left;
  position: relative;
  left: 50px;
  top: 280px;
  /* overflow: hidden; */
}
.block3 h3{
  color: #BDAEF4;
  font-size: 45px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  text-shadow: -2px 2px 3px #483B78;
  padding: 3% 4% 1% 4%
}
.block3 p {
  font-size: 23px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 27px;
  color: black;
  opacity: 0.75;
  padding: 2% 3% 10% 4%;
}

#page4{
  width: 660px;
  height: 668px;
  float: left;
  position: relative;
  top: 390px;
  left: 50px;
}
#page4 p{
  font-size: 21px;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  line-height: 24.65px;
  color: black;
  opacity: 0.75;
  padding: 5% 6% 5% 6%;
}
#page4 h3{
  color: #6251A2;
  font-size: 54px;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  line-height: 68.9px;
  text-shadow: -2px 2px 3px #100b21;
  padding: 2% 3% 1% 5%
}
.img4{
  width: 900px;
  height: 600px;
  float: right;
  position: relative;
  top: 300px;
  margin: 3%;
}
/* #page3 {
  width:600px;
  height:400px;
  color:#ffa9a9;
  background-color: aquamarine;
} */

