<!doctype html>
{% load static %}
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">


  <title>Московский политехнический университет</title>
</head>

<body>


<header>
  {% include "includes/header.html" %}

</header>


<main>

  <div class="container">

    <div class="hero2">

      <div class="hero2__text">
        <h1 class="title">Московский политехнический университет</h1>
        <p class="hero2__lead">
          Московский политехнический университет был основан 21 марта 2016 года путем объединения Московского
          автомеханического института (МАМИ) и Московского государственного университета печати(МГУП). В данном
          разделе вы сможете узнать историю университета, посетить музей, посвященный его деятельности.
        </p>

        <a class="button button-lg" href="{% url 'history:history_detailed' %}">Узнать больше</a>
      </div>

      <div class="hero2__image-block">
        <img class="hero2__image" src="{% static 'image/logo.png' %}">
      </div>

    </div>

    <div class="facts">
      <div class="facts__grid">

        <div class="content">
          <p class="content__title content__title_sm">Образование МАМИ и МГУП</p>
          <div class="content__text text">
            <p>Московский автомеханический институт (МАМИ) берет начало развития еще с 1865 года, а Московский
              государственный университет печати имени Ивана Федорова (МГУП) был Основан в 1930 году. Оба учебных
              заведения имели богатую историю и превосходную репутацию в своих областях</p>
          </div>
        </div>

        <div class="content">
          <p class="content__title content__title_sm">Основание Московского политехнического университета</p>
          <div class="content__text text">
            <p>В 2016 году МАМИ и МГУП объединились, чтобы создать Московский политехнический университет. Это
              объединение сильных учебных заведений сделало университет еще более престижным и конкурентоспособным.
            </p>
          </div>
        </div>


        <div class="content">
          <p class="content__title content__title_sm">Сегодняшний Московский политехнический университет</p>
          <div class="content__text text">
            <p>Сегодня Московский политехнический университет имеет разветвленную инфраструктуру, современные учебные
              программы, качественные исследовательские лаборатории и сотрудничает с ведущими университетами и
              научными организациями по всему миру.
            </p>
          </div>
        </div>


      </div>

      <div class="facts__footer">
        <a class="button button-lg" href="{% url 'history:history_detailed' %}">Подробная история Московского политехннческого университета</a>
      </div>
    </div>

  </div>


</main>

<footer>
{% include "includes/footer.html" %}
</footer>


</body>

</html>

